body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 800px;
}

header {
    padding: 32px;
}

.header-nav {
    flex-grow: 1;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}


main {
    padding: 32px;

}

.main-icon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

#icon {
    width: 8%;
    height: 8%;
    border-radius: 50px;
    border: solid blue;
    margin: auto;
}

.footer-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 40px;
}

.box1 {
    background-color: blue;
    height: 500px;
}

.box2 {
    background-color: rgb(255, 0, 55);
}

.box3 {
    background-color: rgb(9, 255, 0);
}